---

- name: Ensure wordpress network is created in Docker
  community.docker.docker_network:
    name: "{{ wordpress_container_network }}"
    driver: bridge


- name: Ensure wordpress path exists
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: 0700
    owner: "{{ wordpress_uid }}"
    group: "{{ wordpress_gid }}"
  with_items:
    - {path: "{{ wordpress_base_path }}", when: true}
    - {path: "{{ wordpress_config_path }}", when: true}

- name: Ensure wordpress data path exists
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: 0755
    owner: "{{ wordpress_uid }}"
    group: "{{ wordpress_gid }}"
  with_items:
    - {path: "{{ wordpress_data_path }}", when: true}


- name: Ensure wordpress traefik labels are installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/labels.j2"
    dest: "{{ wordpress_config_path }}/labels"
    owner: "{{ wordpress_uid }}"
    group: "{{ wordpress_gid }}"
    mode: 0640

- name: Ensure wordpress configuration is deployed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/env.j2"
    dest: "{{ wordpress_config_path }}/env"
    owner: "{{ wordpress_uid }}"
    group: "{{ wordpress_gid }}"
    mode: 0640

- name: Ensure wordpress container image is pulled
  community.docker.docker_image:
    name: "{{ wordpress_container_image }}"
    source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"

- name: Ensure wordpress.service installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/wordpress.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ wordpress_identifier }}.service"
    mode: 0644
