---

- block:
    - when: wordpress_enabled | bool
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/validate_config.yml"
  tags:
    - setup-all
    - setup-wordpress
    - install-all
    - install-wordpress

- block:
    - when: wordpress_enabled | bool
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/install.yml"
  tags:
    - setup-all
    - setup-wordpress
    - install-all
    - install-wordpress

- block:
    - when: not wordpress_enabled | bool
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/uninstall.yml"
  tags:
    - setup-all
    - setup-wordpress

