{#
SPDX-FileCopyrightText: 2024 Julian-Samuel Gebühr

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=WordPress Server ({{ wordpress_identifier }})
{% for service in wordpress_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in wordpress_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ wordpress_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ wordpress_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ wordpress_identifier }} \
      --log-driver=none \
      --user={{ wordpress_uid }}:{{ wordpress_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ wordpress_container_network }} \
      {% if wordpress_container_http_host_bind_port %}
      -p {{ wordpress_container_http_host_bind_port }}:{{ wordpress_container_http_port }} \
      {% endif %}
      --env-file={{ wordpress_base_path }}/env  \
      --label-file={{ wordpress_base_path }}/labels \
      --mount type=bind,src={{ wordpress_base_path }}/uploads.ini,dst=/usr/local/etc/php/conf.d/uploads.ini \
      --mount type=bind,src={{ wordpress_data_path }},dst=/var/www/html \
      {% for volume in wordpress_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      --tmpfs=/tmp:rw,noexec,nosuid,size={{ wordpress_container_tmpfs_tmp_size }} \
      --tmpfs=/var/run/apache2:rw,noexec,nosuid,size={{ wordpress_container_tmpfs_run_size }} \
      {% for arg in wordpress_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ wordpress_container_image_self_build_name if wordpress_container_image_self_build else wordpress_container_image }}

{% for network in wordpress_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ wordpress_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ wordpress_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ wordpress_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ wordpress_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ wordpress_identifier }}

[Install]
WantedBy=multi-user.target
