{% if wordpress_container_labels_traefik_enabled %}
{% if wordpress_container_labels_traefik_docker_network %}
traefik.docker.network={{ wordpress_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if wordpress_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in wordpress_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ wordpress_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [wordpress_identifier + '-add-request-headers'] %}
{% endif %}

{% if wordpress_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in wordpress_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ wordpress_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [wordpress_identifier + '-add-response-headers'] %}
{% endif %}

traefik.enable=true
{% endif %}
traefik.http.routers.{{ wordpress_identifier }}.rule=Host("{{ wordpress_hostname }}")
{% if wordpress_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ wordpress_identifier }}.priority={{ wordpress_container_labels_traefik_priority }}
{% endif %}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ wordpress_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ wordpress_identifier }}.service={{ wordpress_identifier }}
traefik.http.routers.{{ wordpress_identifier }}.entrypoints={{ wordpress_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ wordpress_identifier }}.tls={{ wordpress_container_labels_traefik_tls | to_json }}
{% if wordpress_container_labels_traefik_tls %}
traefik.http.routers.{{ wordpress_identifier }}.tls.certResolver={{ wordpress_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.{{ wordpress_identifier }}.loadbalancer.server.port={{ wordpress_container_http_port }}

{{ wordpress_container_labels_additional_labels }}
