{#
SPDX-FileCopyrightText: 2024 Julian-Samuel Gebühr

SPDX-License-Identifier: AGPL-3.0-or-later
#}

file_uploads = On
memory_limit = {{ wordpress_max_upload_size }}
upload_max_filesize = {{ wordpress_max_upload_size }}
post_max_size = {{ wordpress_max_upload_size }}
max_execution_time = 600
